openapi: "3.1.0"

info:
  title: GOGOSHOP API
  version: "1.0.0"
  description: |
    ## 概述
    GOGOSHOP 是一個 SaaS 多租戶電商平台。本文件涵蓋以下公開 API 端點：

    - **`/api/v1/auth/*`** — 身份驗證，取得 JWT Access Token
    - **`/api/v1/orders/*`** — 訂單管理 CRUD 與進階操作
    - **`/api/v1/products/*`** — 商品管理 CRUD
    - **`/api/v1/tags/*`** — 商品分類（Tag）管理 CRUD
    - **`/api/v1/product_templates/*`** — 商品內文範本（Product Template）管理 CRUD
    - **`/api/v1/members/*`** — 會員管理、地址、願望清單
    - **`/api/v1/messages/*`** — 訂單訊息管理（買賣家訊息 CRUD、啟用狀態設定）
    - **`/api/v1/stats/*`** — 報表統計（營業額、活動代碼、會員排名、商品排名、追蹤清單）
    - **`/mcp`** — Model Context Protocol (MCP) 端點，供 AI Agent 使用

    ### 1. 基礎資訊 (Base URL)

    所有 API 請求都應發送到以下基礎 URL：

    - **正式環境**: `https://api.gogoshop.io`

    ### 2. 認證機制 (Authentication)

    本 API 採用 **Bearer Token (JWT)** 進行身份驗證。

    - **Header 名稱**: `Authorization`（標準推薦）或 `X-Authorization`（相容支援）
    - **格式**: `Bearer {{accessToken}}`

    **認證流程**：

    1. 呼叫 `POST /api/v1/auth/access_token`，使用 `app_id` + `app_key` 換取 JWT Token。
    2. 後續所有 `/api/v1/*` 請求，在 `Authorization` header 帶入 `Bearer <token>`（亦支援 `X-Authorization: Bearer <token>`）。
    3. Token 有效期為 **15 分鐘（900 秒）**，請自行實作 Token 自動刷新機制。

    **示例**：

    ```bash
    curl -X GET https://api.gogoshop.io/api/v1/orders \
      -H "Authorization: Bearer sYpX...456"
    ```

    > **MCP 端點例外**：`/mcp` 不使用 Bearer Token，改以自訂 Header
    > `x-gogoshop-app-id` / `x-gogoshop-app-key` 進行租戶認證，
    > 由 MCP Server 內部自動換取並快取 Access Token。

    ### 3. 速率限制 (Rate Limiting)

    為了保證服務穩定性，我們對 API 請求進行了頻率限制：

    - **限制規則**: 依租戶方案而定，詳情請洽技術支援。
    - **超過限制**: 若超過頻率，伺服器將回傳 `429 Too Many Requests` 錯誤。

    ### 4. 數據格式 (Data Format)

    - **請求格式**: `application/json`（除特定文件上傳接口外）
    - **回應格式**: `application/json`
    - **日期格式**: 使用 ISO 8601 格式，例如 `YYYY-MM-DD HH:mm:ss`（UTC+8）

    ### 5. 通用狀態碼 (Common Status Codes)

    | 狀態碼 | 說明 | 處理建議 |
    |--------|------|----------|
    | `200` | OK | 請求成功 |
    | `400` | Bad Request | 請求參數錯誤，請檢查 Body 或 Params |
    | `401` | Unauthorized | 身份驗證失敗或 Token 已過期 |
    | `409` | Conflict | 程式符合規範但業務邏輯不允許 |
    | `429` | Too Many Requests | 觸發速率限制，請稍候再試 |
    | `500` | Internal Server Error | 伺服器內部錯誤，請聯繫技術支援 |

    ### 6. 錯誤回應範例 (Error Response)

    當請求失敗時，系統將回傳統一的錯誤格式：

    ```json
    {
        "success": false,
        "error": {
            "code": "VALIDATION_FAILED",
            "message": "手機號碼格式不正確",
            "details": []
        }
    }
    ```

    ### 7. 聯絡技術支援

    如果您在開發過程中遇到任何問題，請透過以下管道聯繫：

    - **Email**: service@gogoshop.io

  contact:
    name: GOGOSHOP 技術支援
    url: https://www.gogoshop.io
    email: service@gogoshop.io
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://api.gogoshop.io
    description: Production

tags:
  - name: Auth
    description: 身份驗證 — 取得與更新 JWT Access Token
  - name: Orders
    description: 訂單管理 — CRUD、取消、開立發票、建立出貨單
  - name: Products
    description: 商品管理 — CRUD、商品分類（Tag）管理、商品內文範本（Product Template）管理
  - name: Members
    description: 會員管理 — CRUD、地址、願望清單
  - name: Messages
    description: 訂單訊息 — 買賣家訊息 CRUD、啟用狀態設定
  # - name: Reviews
  #   description: 商品評論 — 查詢/新增/刪除、公開/隱藏
  - name: Stats
    description: 報表 — 營業額、活動代碼、會員排名、商品排名統計
  - name: MCP
    description: Model Context Protocol — AI Agent 整合端點

# ─── Security Schemes ────────────────────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Token，透過 `POST /api/v1/auth/access_token` 取得。
        標準發送於 `Authorization: Bearer <token>` Header，亦相容 `X-Authorization: Bearer <token>`。
        有效期 15 分鐘，請自行實作刷新邏輯。
    AppIdHeader:
      type: apiKey
      in: header
      name: x-gogoshop-app-id
      description: 租戶 App ID（僅用於 `/mcp` 端點）
    AppKeyHeader:
      type: apiKey
      in: header
      name: x-gogoshop-app-key
      description: 租戶 App Key（僅用於 `/mcp` 端點）

  # ─── Reusable Schemas ─────────────────────────────────────────────────────────
  schemas:

    # ── Generic ────────────────────────────────────────────────────────────────
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
      required:
        - success

    ErrorResponse:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: 錯誤代碼（SCREAMING_SNAKE_CASE）
              enum:
                - VALIDATION_FAILED
                - RESOURCE_NOT_FOUND
                - PERMISSION_DENIED
                - UNAUTHORIZED
                - BUSINESS_LOGIC_ERROR
                - INTERNAL_SERVER_ERROR
              example: VALIDATION_FAILED
            message:
              type: string
              description: 人類可讀錯誤描述（給開發者閱讀）
              example: "Invalid fields"
            details:
              type: array
              items:
                type: object
              description: 選用，提供欄位層級的驗證錯誤細節
              example: []

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 50
        total_count:
          type: integer
          example: 100
        page_count:
          type: integer
          example: 2

    DateTime:
      type: string
      pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
      description: 日期時間格式（YYYY-MM-DD HH:mm:ss）
      example: "2026-09-06 01:45:24"

    # ── Stats ──────────────────────────────────────────────────────────────────
    StatsPagination:
      type: object
      properties:
        sort:
          type: string
          example: total_amount
        direction:
          type: string
          example: desc
        page:
          type: integer
          example: 1
        total_count:
          type: integer
          example: 42
        limit:
          type: integer
          example: 20
        page_count:
          type: integer
          example: 3

    # ── Auth ───────────────────────────────────────────────────────────────────
    AccessTokenResponse:
      type: object
      required:
        - success
        - access_token
        - token_type
        - expires_in
      properties:
        success:
          type: boolean
          example: true
        access_token:
          type: string
          description: RS256 簽署的 JWT Token
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token 有效秒數
          example: 900

    # ── Product ────────────────────────────────────────────────────────────────
    ProductState:
      type: string
      enum:
        - published
        - publish_check
        - gift
        - cancelled
        - discarded
        - preparative
      description: 商品狀態

    ProductQuantityMode:
      type: string
      enum:
        - stock
        - warehouse
        - unlimited
      description: 庫存扣減模式

    ProductInput:
      type: object
      description: |
        建立或更新商品時使用的欄位。欄位皆以 snake_case 傳入。更新時只需傳入要修改的欄位，未傳入的欄位不會被變更。
      properties:
        type:
          type: string
          description: 商品類型
          example: "default"
        state:
          $ref: "#/components/schemas/ProductState"
        quantity_mode:
          $ref: "#/components/schemas/ProductQuantityMode"
        name:
          type: string
          description: 商品名稱
          example: "經典白 T-shirt"
        number:
          type: string
          description: 商品編號
          example: "SKU-001"
        cost:
          type: integer
          description: 商品成本
          example: 200
        safety_stock:
          type: integer
          description: 安全庫存量
          example: 10
        lead_time:
          type: integer
          minimum: 0
          description: 預備出貨天數（非負整數）
          example: 3
        variant:
          type: array
          items:
            type: string
          description: 商品規格名稱（如顏色、尺寸）
          example: ["顏色", "尺寸"]
        description:
          type: string
          description: 商品描述（支援 HTML）
        published:
          oneOf:
            - type: boolean
            - $ref: "#/components/schemas/DateTime"
          description: 上架狀態或上架時間
          example: true
        cancelled:
          oneOf:
            - type: boolean
            - $ref: "#/components/schemas/DateTime"
          description: 下架狀態或下架時間
          example: false
        vendor_number:
          type:
            - string
            - "null"
          description: 廠商貨號
        link:
          type:
            - string
            - "null"
        images:
          type: array
          items:
            type: string
        marketing_label:
          type:
            - string
            - "null"
        media:
          type:
            - integer
            - "null"
        media_id:
          type:
            - string
            - "null"
        limited_selections:
          type: array
          items:
            type: string
          description: 限用物流（未選擇則傳空陣列以清空）
        comment_required:
          type: boolean
        comment:
          type: string
        keywords:
          type: string
        meta_description:
          type: string
        settings:
          type: object
          additionalProperties: true
        quantity_limit:
          type:
            - integer
            - "null"
        fixed_price:
          type: boolean
        search_disabled:
          type: boolean
        sort:
          type: integer
        weight:
          type: number
        warehouse_id:
          type:
            - string
            - "null"
          description: 追蹤門市 ID（需 Warehouses 進階方案）
        supplier_id:
          type:
            - string
            - "null"
        stocks:
          type: array
          items:
            $ref: "#/components/schemas/ProductStock"
        tag_ids:
          type: array
          items:
            type: string
          description: 商品分類 Tag ID 陣列
        product_items:
          type: array
          items:
            type: object
            properties:
              id:
                type:
                  - string
                  - "null"
              sort:
                type: integer
              title:
                type: string
              content:
                type: string
        additions:
          type: array
          items:
            type: object
            properties:
              id:
                type:
                  - string
                  - "null"
              stock_id:
                type: string
              price:
                type: number
              quantity_limit:
                type:
                  - integer
                  - "null"

    ProductStock:
      type: object
      description: 商品庫存（規格 SKU）
      properties:
        id:
          type: string
        serial_number:
          type: string
          example: "SKU-001-WHITE-M"
        variant:
          type: string
          example: "顏色:白 / 尺寸:M"
        image:
          type:
            - string
            - "null"
        original_price:
          type: number
          example: 500
        selling_price:
          type: number
          example: 450
        quantity:
          type: integer
          example: 10

    Tag:
      type: object
      description: 商品分類（Tag）資源
      properties:
        id:
          type: string
          pattern: "^[a-f0-9]{16}$"
          description: 分類 ID（16 位十六進位）
          example: "1a2b3c4d5e6f7890"
        name:
          type: string
          description: 分類名稱
          example: "上衣"
        code:
          type: string
          description: 分類網址代碼（未指定時預設等於 name）
          example: "shirts"

    TagInput:
      type: object
      description: 建立/更新分類的輸入欄位。更新時只需傳入要修改的欄位。
      properties:
        name:
          type: string
          description: 分類名稱（建立時必填，最多 40 字）
          example: "上衣"
        code:
          type: string
          description: 分類網址代碼（同租戶內須唯一，最多 100 字，未提供則預設等於 name）
          example: "shirts"

    ProductTemplate:
      type: object
      description: 商品內文範本資源，可綁定商品分類（Tag），套用時合併進商品描述/更多內容頁籤
      properties:
        id:
          type: string
          pattern: "^[a-f0-9]{16}$"
          description: 範本 ID（16 位十六進位）
          example: "3c4d5e6f78901a2b"
        tag_id:
          type:
            - string
            - "null"
          pattern: "^[a-f0-9]{16}$"
          description: 綁定的商品分類 ID，`null` 表示套用於所有商品
          example: "1a2b3c4d5e6f7890"
        sort:
          type: integer
          description: |
            排序值，決定套用方式：
            `101`/`102` 附加於商品描述前/後、`103`/`104` 附加於第一個內文頁籤前/後、其餘（<100）新增為獨立內文頁籤。
          example: 101
        title:
          type:
            - string
            - "null"
          description: 範本標題
        content:
          type:
            - string
            - "null"
          description: 範本內容（HTML）

    ProductTemplateInput:
      type: object
      description: 建立/更新商品內文範本的輸入欄位。更新時只需傳入要修改的欄位。
      properties:
        tag_id:
          type:
            - string
            - "null"
          pattern: "^[a-f0-9]{16}$"
          description: 綁定的商品分類 ID，不指定或傳 `null` 表示套用於所有商品
        sort:
          type: integer
          description: 排序值
          example: 101
        title:
          type: string
          description: 範本標題
        content:
          type: string
          description: 範本內容（HTML）

    Product:
      type: object
      description: 商品資源（snake_case，後端回傳格式）
      properties:
        id:
          type: string
          pattern: "^[a-f0-9]{16}$"
          description: 商品 ID（16 位十六進位）
          example: "1a2b3c4d5e6f7890"
        number:
          type: string
          description: 商品編號
          example: "SKU-001"
        name:
          type: string
          example: "經典白 T-shirt"
        state:
          $ref: "#/components/schemas/ProductState"
        cost:
          type: number
          example: 200
        min_price:
          type:
            - number
            - "null"
          description: 各規格中的最低售價
          example: 450
        max_price:
          type:
            - number
            - "null"
          description: 各規格中的最高售價
          example: 500
        review_count:
          type:
            - integer
            - "null"
          description: 評論數量
          example: 0
        avg_rating:
          type:
            - string
            - number
            - "null"
          description: 平均評分（實測可能為小數格式字串或數值）
          example: "5.00"
        safety_stock:
          type:
            - number
            - "null"
          example: 10
        lead_time:
          type: integer
          description: 預備出貨天數
          example: 3
        description:
          type: string
        variant:
          type: array
          items:
            type: string
          example: ["顏色", "尺寸"]
        created_at:
          $ref: "#/components/schemas/DateTime"
        updated_at:
          $ref: "#/components/schemas/DateTime"
        published_at:
          oneOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
          description: 上架狀態或上架時間
        cancelled_at:
          oneOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
          description: 下架狀態或下架時間
        sort:
          type:
            - integer
            - "null"
          example: 0
        quantity_mode:
          $ref: "#/components/schemas/ProductQuantityMode"
        quantity_limit:
          type:
            - integer
            - "null"
          description: 限購數量
        fixed_price:
          type:
            - boolean
            - "null"
          description: 是否為固定售價（不因規格而異）
        search_disabled:
          type:
            - boolean
            - "null"
          description: 是否從搜尋結果中隱藏
        link:
          type:
            - string
            - "null"
        url_path:
          type: string
          example: "classic-white-tshirt"
        vendor_number:
          type:
            - string
            - "null"
        marketing_label:
          type:
            - string
            - "null"
        media:
          type:
            - integer
            - "null"
        media_id:
          type:
            - string
            - "null"
        limited_selections:
          type: array
          items:
            type:
            - string
            - "null"
          description: 限用物流
        comment_required:
          type:
            - boolean
            - "null"
          description: 是否必須填寫留言
        comment:
          type:
            - string
            - "null"
        keywords:
          type:
            - string
            - "null"
        meta_description:
          type: string
        settings:
          type: object
          additionalProperties: true
          description: 商品其他設定（結構依商品類型而異）
        images:
          type: array
          items:
            type: string
        type:
          type: string
          enum:
            - default
            - chilled
            - frozen
          description: 商品溫層
        weight:
          type:
            - number
            - "null"
          description: 商品重量
          example: 0.5
        warehouse_id:
          type:
            - string
            - "null"
          description: 追蹤門市 ID（需 Warehouses 進階方案）
        supplier_id:
          type:
            - string
            - "null"
        stocks:
          type: array
          items:
            $ref: "#/components/schemas/ProductStock"
        score:
          type:
            - number
            - "null"

    ProductDetail:
      allOf:
        - $ref: "#/components/schemas/Product"
        - type: object
          description: 詳細商品（含 additions、tags、product_items）
          properties:
            additions:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  number:
                    type: string
                  name:
                    type: string
                  state:
                    $ref: "#/components/schemas/ProductState"
                  variant:
                    type: string
                  quantity_mode:
                    $ref: "#/components/schemas/ProductQuantityMode"
                  quantity_limit:
                    type:
                      - integer
                      - "null"
                  vendor_number:
                    type:
                      - string
                      - "null"
                  marketing_label:
                    type:
                      - string
                      - "null"
                  comment_required:
                    type:
                      - boolean
                      - "null"
                  comment:
                    type:
                      - string
                      - "null"
                  settings:
                    type: object
                    additionalProperties: true
                  images:
                    type: array
                    items:
                      type: string
                  stocks:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProductStock"
            raw_additions:
              type: array
              description: 加購品原始資料（供後台編輯用，含贈品/限購設定）
              items:
                type: object
                properties:
                  id:
                    type: string
                  stock_id:
                    type: string
                  price:
                    type: number
                  quantity_limit:
                    type:
                      - integer
                      - "null"
            tags:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  code:
                    type: string
            product_items:
              type: array
              items:
                type: object
                description: 商品款式（SKU）
                properties:
                  id:
                    type: string
                  sort:
                    type: integer
                  title:
                    type: string
                  content:
                    type: string

    # ── Order ──────────────────────────────────────────────────────────────────
    OrderState:
      type: string
      enum:
        - un_pay
        - cod
        - pay
        - failure
        - cancel
      description: 訂單狀態

    OrderLineItemState:
      type: string
      enum:
        - build
        - done
        - cancel
        - failure
      description: 訂單品項狀態

    OrderLineItem:
      type: object
      description: 訂單品項
      properties:
        id:
          type: string
        product_id:
          type: string
          example: "1a2b3c4d5e6f7890"
        stock_id:
          type: string
        serial_number:
          type: string
          example: "SKU-001-WHITE-M"
        name:
          type: string
          example: "經典白 T-shirt"
        state:
          $ref: "#/components/schemas/OrderLineItemState"
        delivering_quantity:
          type: integer
          example: 0
        delivered_quantity:
          type: integer
          example: 0
        refunding_quantity:
          type: integer
          example: 0
        refunded_quantity:
          type: integer
          example: 0
        quantity:
          type: integer
          example: 2
        original_price:
          type: integer
          example: 500
        selling_price:
          type: integer
          example: 500
        discount:
          type: integer
          example: 0
        price:
          type: integer
          example: 500
        cash:
          type: integer
          example: 0
        amount:
          type: integer
          example: 1000
        comment:
          type:
            - string
            - "null"
        cancel:
          type:
            - string
            - "null"
          description: 取消原因（品項被取消時填寫）
        processed_at:
          anyOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
        delivered_at:
          anyOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
        cancelled_at:
          anyOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
        image:
          type:
            - string
            - "null"
          description: 品項圖片（僅在 require_image 情境下回傳）

    Order:
      type: object
      properties:
        id:
          type: string
          pattern: "^[a-f0-9]{24}$"
          description: 訂單 ID（24 位十六進位）
          example: "5f4dcc3b5aa765d61d8327de"
        number:
          type: string
          description: 訂單編號（人類可讀）
          example: "ORD-20260823-0001"
        state:
          $ref: "#/components/schemas/OrderState"
        currency:
          type: string
          description: 幣別代碼
          example: "TWD"
        amount:
          type: integer
          description: 訂單總金額
          example: 1060
        fee:
          type: integer
          description: 運費
          example: 60
        payment_fee:
          type: integer
          description: 金流手續費
          example: 0
        accounts:
          type: integer
          description: 已請款/入帳金額
          example: 1060
        comment:
          type: string
        invoice_number:
          type:
            - string
            - "null"
          description: 發票號碼
          example: "AA-12345678"
        invoice_date:
          type:
            - string
            - "null"
          format: date
          description: 發票日期
        referrer_code:
          type:
            - string
            - "null"
          description: 分銷代碼
        buyer:
          type: object
          properties:
            name:
              type: string
              example: "王小明"
            mobile:
              type: string
              example: "0912345678"
            email:
              type: string
              format: email
              example: "buyer@example.com"
            billing:
              type: object
              properties:
                invoice_type:
                  type:
                    - string
                    - "null"
                invoice_title:
                  type:
                    - string
                    - "null"
                invoice_address:
                  type:
                    - string
                    - "null"
                carrier_type:
                  type:
                    - string
                    - "null"
                carrier_id:
                  type:
                    - string
                    - "null"
                tax_number:
                  type:
                    - string
                    - "null"
        receiver:
          type: object
          properties:
            name:
              type: string
              example: "王小明"
            mobile:
              type: string
              example: "0912345678"
            location:
              type: object
              properties:
                country:
                  type: string
                  example: "TW"
                city:
                  type: string
                  example: "臺北市"
                district:
                  type: string
                  example: "信義區"
                zip:
                  type: string
                  example: "110"
                address:
                  type: string
                  example: "信義路五段7號"
                province:
                  type:
                    - string
                    - "null"
        transaction:
          type: object
          properties:
            payment_gateway:
              type: string
              example: "PAYUNi"
            payment_type:
              type: string
              example: "credit_card"
            payment_fee:
              type: integer
              example: 0
            payment_deadline:
              anyOf:
                - $ref: "#/components/schemas/DateTime"
                - type: "null"
            payment_bank_code:
              type:
                - string
                - "null"
            payment_code:
              type:
                - string
                - "null"
            payment_info:
              type:
                - object
                - "null"
              additionalProperties: true
        shipping:
          type: object
          properties:
            delivery_type:
              type: string
              example: "home_delivery"
            delivery_name:
              type: string
              example: "黑貓宅配"
            fare:
              type: integer
              example: 60
            receive_date:
              type:
                - string
                - "null"
            receive_time:
              type:
                - string
                - "null"
            retail_name:
              type: string
              description: 取貨門市名稱，非超商取貨時為空字串
              example: "7-ELEVEN 信義門市"
            pickup_store:
              type:
                - object
                - "null"
              description: 超商/門市取貨資訊，非取貨時為 null
              properties:
                id:
                  type: string
                type:
                  type: string
                name:
                  type: string
                address:
                  type: string
        line_items:
          type: array
          items:
            $ref: "#/components/schemas/OrderLineItem"
        created_at:
          $ref: "#/components/schemas/DateTime"
        updated_at:
          $ref: "#/components/schemas/DateTime"
        paid_at:
          anyOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
        delivered_at:
          anyOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
        deliveries:
          type: array
          items:
            type: object
            additionalProperties: true
        refunds:
          type: array
          items:
            type: object
            additionalProperties: true

    OrderCreateInput:
      type: object
      description: |
        建立訂單時使用。新增訂單時，扣庫存、建立訂單、現金付款標記與資料庫交易皆整合在同一個
        原子交易內完成。`number`、`buyer`、`receiver`、`transaction`、`shipping`、`line_items`
        皆為必填物件，且各物件內列出的欄位亦為必填（詳見各物件的 `required` 說明）。
      required:
        - number
        - buyer
        - receiver
        - transaction
        - shipping
        - line_items
      properties:
        number:
          type: string
          description: 訂單編號（人類可讀，需由呼叫端指定）
          example: "ORD-20260823-0001"
        member_id:
          type: string
          description: 會員 ID（可選，匿名購物時省略）
        currency:
          type: string
          description: 幣別代碼
          example: "TWD"
        comment:
          type: string
        buyer:
          type: object
          description: 訂購人資訊。若帶入此物件，`name`、`mobile` 為必填。
          required:
            - name
            - mobile
          properties:
            name:
              type: string
              description: 訂購人姓名，必填且長度不可超過 40 個字元
              example: "王小明"
            mobile:
              type: string
              description: 訂購人手機號碼，必填，僅可為數字（可含開頭 +），長度不可超過 20 個字元
              example: "0912345678"
            email:
              type: string
              format: email
              example: "buyer@example.com"
            billing:
              type: object
              properties:
                invoice_type:
                  type:
                    - string
                    - "null"
                invoice_title:
                  type:
                    - string
                    - "null"
                invoice_address:
                  type:
                    - string
                    - "null"
                carrier_type:
                  type:
                    - string
                    - "null"
                carrier_id:
                  type:
                    - string
                    - "null"
                tax_number:
                  type:
                    - string
                    - "null"
                invoice_number:
                  type:
                    - string
                    - "null"
                invoice_date:
                  type:
                    - string
                    - "null"
        receiver:
          type: object
          description: 收件人資訊。若帶入此物件，`name`、`mobile` 為必填。
          required:
            - name
            - mobile
          properties:
            name:
              type: string
              description: 收件人姓名，必填且長度不可超過 40 個字元
              example: "王小明"
            mobile:
              type: string
              description: 收件人手機號碼，必填，僅可為數字（可含開頭 +），長度不可超過 20 個字元
              example: "0912345678"
            location:
              type: object
              properties:
                country:
                  type: string
                  example: "TW"
                city:
                  type: string
                  example: "臺北市"
                district:
                  type: string
                  example: "信義區"
                zip:
                  type: string
                  example: "110"
                address:
                  type: string
                  example: "信義路五段7號"
                province:
                  type:
                    - string
                    - "null"
        transaction:
          type: object
          description: 付款資訊。若帶入此物件，`payment_gateway`、`payment_type` 為必填。
          required:
            - payment_gateway
            - payment_type
          properties:
            payment_gateway:
              type: string
              description: 金流服務商，必填
              example: "PAYUNi"
            payment_type:
              type: string
              description: 付款方式，必填
              example: "credit_card"
            payment_fee:
              type: integer
              example: 0
            payment_bank_code:
              type:
                - string
                - "null"
            payment_code:
              type:
                - string
                - "null"
            payment_deadline:
              type:
                - string
                - "null"
            payment_info:
              type:
                - object
                - "null"
              additionalProperties: true
        shipping:
          type: object
          description: 物流資訊，各子欄位皆為選填。
          properties:
            delivery_type:
              type: string
              example: "home_delivery"
            delivery_name:
              type: string
              example: "黑貓宅配"
            fare:
              type: integer
              example: 60
            receive_date:
              type:
                - string
                - "null"
            receive_time:
              type:
                - string
                - "null"
            pickup_store:
              type:
                - object
                - "null"
              description: 超商/門市取貨資訊，非取貨時可省略
              properties:
                id:
                  type: string
                type:
                  type: string
                name:
                  type: string
                address:
                  type: string
        line_items:
          type: array
          description: 訂單品項，新增訂單時必填（不可省略整個欄位）。
          items:
            type: object
            required:
              - product_id
              - stock_id
              - serial_number
              - name
              - original_price
              - selling_price
              - discount
              - cash
              - amount
              - quantity
            properties:
              product_id:
                type: string
              stock_id:
                type: string
              serial_number:
                type: string
              name:
                type: string
              original_price:
                type: integer
              selling_price:
                type: integer
              discount:
                type: integer
              cash:
                type: integer
              amount:
                type: integer
              quantity:
                type: integer
              comment:
                type: string

    OrderUpdateInput:
      type: object
      description: |
        更新訂單時使用。所有頂層欄位皆為可選（允許部分更新），未傳入的欄位將保留原有值；未傳入 `line_items` 時會保留既有訂單品項。
      properties:
        number:
          type: string
          description: 訂單編號
          example: "ORD-20260823-0001"
        member_id:
          type: string
          description: 會員 ID
        currency:
          type: string
          description: 幣別代碼
          example: "TWD"
        comment:
          type: string
        buyer:
          type: object
          description: 訂購人資訊。若帶入此物件，`name`、`mobile` 為必填。
          required:
            - name
            - mobile
          properties:
            name:
              type: string
              description: 訂購人姓名，長度不可超過 40 個字元
              example: "王小明"
            mobile:
              type: string
              description: 訂購人手機號碼，僅可為數字（可含開頭 +），長度不可超過 20 個字元
              example: "0912345678"
            email:
              type: string
              format: email
              example: "buyer@example.com"
            billing:
              type: object
              properties:
                invoice_type:
                  type:
                    - string
                    - "null"
                invoice_title:
                  type:
                    - string
                    - "null"
                invoice_address:
                  type:
                    - string
                    - "null"
                carrier_type:
                  type:
                    - string
                    - "null"
                carrier_id:
                  type:
                    - string
                    - "null"
                tax_number:
                  type:
                    - string
                    - "null"
                invoice_number:
                  type:
                    - string
                    - "null"
                invoice_date:
                  type:
                    - string
                    - "null"
        receiver:
          type: object
          description: 收件人資訊。若帶入此物件，`name`、`mobile` 為必填。
          required:
            - name
            - mobile
          properties:
            name:
              type: string
              description: 收件人姓名，長度不可超過 40 個字元
              example: "王小明"
            mobile:
              type: string
              description: 收件人手機號碼，僅可為數字（可含開頭 +），長度不可超過 20 個字元
              example: "0912345678"
            location:
              type: object
              properties:
                country:
                  type: string
                  example: "TW"
                city:
                  type: string
                  example: "臺北市"
                district:
                  type: string
                  example: "信義區"
                zip:
                  type: string
                  example: "110"
                address:
                  type: string
                  example: "信義路五段7號"
                province:
                  type:
                    - string
                    - "null"
        transaction:
          type: object
          description: 付款資訊。若帶入此物件，`payment_gateway`、`payment_type` 為必填。
          required:
            - payment_gateway
            - payment_type
          properties:
            payment_gateway:
              type: string
              description: 金流服務商
              example: "PAYUNi"
            payment_type:
              type: string
              description: 付款方式
              example: "credit_card"
            payment_fee:
              type: integer
              example: 0
            payment_bank_code:
              type:
                - string
                - "null"
            payment_code:
              type:
                - string
                - "null"
            payment_deadline:
              type:
                - string
                - "null"
            payment_info:
              type:
                - object
                - "null"
              additionalProperties: true
        shipping:
          type: object
          description: 物流資訊，各子欄位皆為選填。
          properties:
            delivery_type:
              type: string
              example: "home_delivery"
            delivery_name:
              type: string
              example: "黑貓宅配"
            fare:
              type: integer
              example: 60
            receive_date:
              type:
                - string
                - "null"
            receive_time:
              type:
                - string
                - "null"
            pickup_store:
              type:
                - object
                - "null"
              description: 超商/門市取貨資訊，非取貨時可省略
              properties:
                id:
                  type: string
                type:
                  type: string
                name:
                  type: string
                address:
                  type: string
        line_items:
          type: array
          description: 訂單品項。更新時若未傳入，將保留既有品項。
          items:
            type: object
            properties:
              id:
                type: string
                description: 品項 ID（更新既有品項時帶入）
              product_id:
                type: string
              stock_id:
                type: string
              serial_number:
                type: string
              name:
                type: string
              original_price:
                type: integer
              selling_price:
                type: integer
              discount:
                type: integer
              cash:
                type: integer
              amount:
                type: integer
              quantity:
                type: integer
              comment:
                type: string

    # ── Member ─────────────────────────────────────────────────────────────────
    MemberType:
      type: string
      enum:
        - guest
        - member
        - blacklist
      description: 會員類型

    MemberInvoiceInfo:
      type: object
      properties:
        invoice_type:
          type:
            - string
            - "null"
        invoice_carrier_type:
          type:
            - string
            - "null"
        invoice_carrier_id:
          type:
            - string
            - "null"
        tax_number:
          type:
            - string
            - "null"
        invoice_title:
          type:
            - string
            - "null"
        invoice_address:
          type:
            - string
            - "null"

    Member:
      type: object
      properties:
        id:
          type: string
          pattern: "^[a-f0-9]{24}$"
          description: 會員 ID（24 位十六進位）
          example: "5f4dcc3b5aa765d61d8327de"
        email:
          type: string
          format: email
          example: "member@example.com"
        type:
          $ref: "#/components/schemas/MemberType"
        newsletter:
          type: boolean
          description: 是否訂閱電子報
        name:
          type: string
          example: "王小明"
        mobile:
          type: string
          example: "0912345678"
        gender:
          type:
            - string
            - "null"
        birth_year:
          type: string
          example: "1990"
        birth_month:
          type: string
          example: "1"
        birth_day:
          type: string
          example: "15"
        invoice_info:
          $ref: "#/components/schemas/MemberInvoiceInfo"
        custom_1:
          type:
            - string
            - "null"
        custom_2:
          type:
            - string
            - "null"
        custom_3:
          type:
            - string
            - "null"
        last_ip:
          type: string
          description: 最後登入 IP
        last_time:
          anyOf:
            - $ref: "#/components/schemas/DateTime"
            - type: "null"
          description: 最後登入時間
        membership:
          type:
            - object
            - "null"
          description: 所屬會員等級，非會員等級（guest/blacklist/一般 member）則為 null
          properties:
            id:
              type: string
            name:
              type: string
        cash_balance:
          type:
            - number
            - "null"
          description: 購物金餘額
        points_total:
          type:
            - number
            - "null"
          description: 積分總額
        created_at:
          $ref: "#/components/schemas/DateTime"
        updated_at:
          $ref: "#/components/schemas/DateTime"

    MemberCreateInput:
      type: object
      description: 建立會員時使用。`email` 與 `password` 為必填；`name` 與 `mobile` 須同時提供或同時省略。
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "newuser@example.com"
        password:
          type: string
          description: 會員登入密碼
          example: "SecretPassword123!"
        name:
          type: string
          example: "陳大文"
        mobile:
          type: string
          example: "0987654321"
        gender:
          type:
            - string
            - "null"
        birth_year:
          type: string
          example: "1990"
        birth_month:
          type: string
          example: "1"
        birth_day:
          type: string
          example: "15"
        newsletter:
          type: boolean
          description: 是否訂閱電子報
        custom_1:
          type:
            - string
            - "null"
        custom_2:
          type:
            - string
            - "null"
        custom_3:
          type:
            - string
            - "null"
        comment:
          type:
            - string
            - "null"
        membership_id:
          type: string
          description: 會員等級。可為 guest／member／blacklist，或實際的 membership id（升等成該等級的會員）
        invoice_info:
          $ref: "#/components/schemas/MemberInvoiceInfo"

    MemberUpdateInput:
      type: object
      description: 更新指定會員資料時使用，只需傳入要更新的欄位。更新會員資料時無需且不接收密碼。
      properties:
        email:
          type: string
          format: email
          example: "updated@example.com"
        name:
          type: string
          example: "陳大文"
        mobile:
          type: string
          example: "0987654321"
        gender:
          type:
            - string
            - "null"
        birth_year:
          type: string
          example: "1990"
        birth_month:
          type: string
          example: "1"
        birth_day:
          type: string
          example: "15"
        newsletter:
          type: boolean
          description: 是否訂閱電子報
        custom_1:
          type:
            - string
            - "null"
        custom_2:
          type:
            - string
            - "null"
        custom_3:
          type:
            - string
            - "null"
        comment:
          type:
            - string
            - "null"
        membership_id:
          type: string
          description: 會員等級。可為 guest／member／blacklist，或實際的 membership id（升等成該等級的會員）
        invoice_info:
          $ref: "#/components/schemas/MemberInvoiceInfo"

    Message:
      type: object
      properties:
        id:
          type: string
          description: 訊息 ID（24 位十六進位）
          example: "651f1c2e9a1b2c3d4e5f6789"
        order_number:
          type: string
          description: 所屬訂單編號
          example: "20260824000001"
        active:
          type: boolean
          description: 是否為有效訊息
          example: true
        content:
          type: array
          description: 訊息內容，依時間順序排列的訊息紀錄陣列。
          items:
            type: object
            properties:
              t:
                type: string
                description: 訊息時間
                example: "2026-08-24 12:00:00"
              m:
                type: string
                description: 訊息文字內容
                example: "您的商品已出貨，請留意物流通知。"
              o:
                type: integer
                enum:
                  - 1
                  - 2
                description: 發送者類型，1 為買家、2 為賣家
                example: 2
              u:
                type:
                  - string
                  - "null"
                description: 發送者名稱（選填）
                example: "陳大文"
        created:
          $ref: "#/components/schemas/DateTime"
        modified:
          $ref: "#/components/schemas/DateTime"

    MessageInput:
      type: object
      description: 建立或更新訊息時使用。
      required:
        - message
        - sender
      properties:
        message:
          type: string
          description: 訊息內容
          example: "請問這個商品還有現貨嗎？"
        order_number:
          type: string
          description: 訂單編號（`create` 時必填，`addOrUpdate` 時可用於指定訂單）
          example: "20260824000001"
        sender:
          type: integer
          enum:
            - 1
            - 2
          description: 發送者類型，1 為買家、2 為賣家
          example: 1
        user_name:
          type:
            - string
            - "null"
          description: 發送者名稱（選填）
          example: "陳大文"

  #   Review:
  #     type: object
  #     properties:
  #       id:
  #         type: string
  #         description: 評論 ID（24 位十六進位）
  #         example: "651f1c2e9a1b2c3d4e5f6789"
  #       tenant_id:
  #         type: string
  #         description: 租戶 ID
  #       product_id:
  #         type: string
  #         description: 商品 ID
  #       product_name:
  #         type:
  #           - string
  #           - "null"
  #         description: 商品名稱
  #       order_id:
  #         type: string
  #         description: 訂單 ID
  #       buyer_name:
  #         type:
  #           - string
  #           - "null"
  #         description: 買家名稱
  #       rating:
  #         type: integer
  #         minimum: 1
  #         maximum: 5
  #         description: 評分（1 ~ 5 星）
  #         example: 5
  #       content:
  #         type:
  #           - string
  #           - "null"
  #         description: 評論內容
  #       is_public:
  #         type: boolean
  #         description: 是否公開顯示
  #         example: true
  #       created:
  #         $ref: "#/components/schemas/DateTime"
  #       modified:
  #         $ref: "#/components/schemas/DateTime"
  #
  #   ReviewInput:
  #     type: object
  #     description: |
  #       依訂單建立評論時使用，可一次提交多筆商品評論。
  #       `product_name`（商品名稱）與 `buyer_name`（買家姓名）會由後端依據 `product_id` 與訂單資訊自動關聯帶入，請求時無需提供。
  #     required:
  #       - reviews
  #     properties:
  #       reviews:
  #         type: array
  #         items:
  #           type: object
  #           required:
  #             - product_id
  #             - rating
  #           properties:
  #             product_id:
  #               type: string
  #               description: 商品 ID
  #               example: "1a2b3c4d5e6f7890"
  #             rating:
  #               type: integer
  #               minimum: 1
  #               maximum: 5
  #               description: 評分（1 ~ 5 星）
  #               example: 5
  #             content:
  #               type:
  #                 - string
  #                 - "null"
  #               description: 評論內容
  #               example: "商品品質優良，出貨快速！"
  #             is_public:
  #               type: boolean
  #               description: 是否公開顯示，預設為 true
  #               example: true
  #
  #   CashRecord:
  #     type: object
  #     properties:
  #       id:
  #         type: string
  #         amount:
  #           type: integer
  #           description: 金額（正數為入帳，負數為扣款）
  #           example: 100
  #         balance:
  #           type: integer
  #           description: 操作後餘額
  #           example: 500
  #         reason:
  #           type:
  #             - string
  #             - "null"
  #           example: "促銷活動贈送"
  #         expired_at:
  #           anyOf:
  #             - $ref: "#/components/schemas/DateTime"
  #             - type: "null"
  #         created_at:
  #           $ref: "#/components/schemas/DateTime"
  #
  #   PointRecord:
  #     type: object
  #     properties:
  #       id:
  #         type: string
  #       points:
  #         type: integer
  #         description: 積分異動量（正為獲得，負為使用）
  #         example: 50
  #       balance:
  #         type: integer
  #         description: 操作後積分餘額
  #         example: 200
  #       reason:
  #         type:
  #           - string
  #           - "null"
  #       created_at:
  #         $ref: "#/components/schemas/DateTime"

    Address:
      type: object
      properties:
        receiver:
          type: object
          properties:
            name:
              type: string
            mobile:
              type: string
            location:
              type: object
              properties:
                country:
                  type: string
                city:
                  type: string
                district:
                  type: string
                zip:
                  type: string
                address:
                  type: string
                province:
                  type:
                    - string
                    - "null"
        shipping:
          type: object
          properties:
            delivery_type:
              type: string
            delivery_name:
              type: string
            fare:
              type: integer
            receive_date:
              type:
                - string
                - "null"
              format: date
            receive_time:
              type:
                - string
                - "null"
            pickup_store:
              type:
                - object
                - "null"
              properties:
                id:
                  type: string
                type:
                  type: string
                name:
                  type: string
                address:
                  type: string

    WishlistItem:
      type: object
      properties:
        id:
          type: string
          pattern: "^[a-f0-9]{24}$"
          description: 願望清單 ID
        member_id:
          type: string
          pattern: "^[a-f0-9]{24}$"
          description: 會員 ID
        product_id:
          type: string
          pattern: "^[a-f0-9]{16}$"
        remind_notify:
          type: boolean
          description: 是否於補貨/降價時通知會員
        product_info:
          oneOf:
            - $ref: "#/components/schemas/Product"
            - type: "null"
          description: 商品資訊（僅列表查詢帶入 tenant 時提供，格式為 Product）
        created_at:
          $ref: "#/components/schemas/DateTime"
        modified_at:
          $ref: "#/components/schemas/DateTime"

    # ── Delivery ───────────────────────────────────────────────────────────────
    DeliveryInput:
      type: object
      properties:
        delivery_type:
          type: string
          example: "home_delivery"
        delivery_name:
          type: string
          example: "黑貓宅配"
        tracking_number:
          type:
            - string
            - "null"
        more_params:
          type: object
          description: 物流供應商額外參數（依供應商不同而異）

    Delivery:
      type: object
      properties:
        id:
          type: string
          pattern: "^[a-f0-9]{24}$"
        order_id:
          type: string
          pattern: "^[a-f0-9]{24}$"
        delivery_type:
          type: string
        delivery_name:
          type: string
        tracking_number:
          type:
            - string
            - "null"
        status:
          type: string
        created_at:
          $ref: "#/components/schemas/DateTime"

    # ── Cart / Bag ─────────────────────────────────────────────────────────────
    CartItem:
      type: object
      properties:
        id:
          type: string
          description: 購物車項目 ID
        stock_id:
          type: string
        product_id:
          type: string
          pattern: "^[a-f0-9]{16}$"
        product_name:
          type: string
        quantity:
          type: integer
        unit_price:
          type: integer
        comment:
          type:
            - string
            - "null"

  # ── Reusable Parameters ──────────────────────────────────────────────────────
  parameters:
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
      description: 頁碼

    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        default: 50
      description: 每頁筆數

    MemberIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-f0-9]{24}$"
      description: 會員 ID（24 位十六進位字串）

    OrderIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-f0-9]{24}$"
      description: 訂單 ID（24 位十六進位字串）

    ProductIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-f0-9]{16}$"
      description: 商品 ID（16 位十六進位字串）

    TagIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-f0-9]{16}$"
      description: 分類 ID（16 位十六進位字串）

    ProductTemplateIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
        pattern: "^[a-f0-9]{16}$"
      description: 商品內文範本 ID（16 位十六進位字串）

  # ── Reusable Responses ───────────────────────────────────────────────────────
  responses:
    Unauthorized:
      description: 身份認證失敗
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: UNAUTHORIZED
              message: "Token is expired or missing"
              details: []

    BadRequest:
      description: 請求參數錯誤或資源不存在
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: VALIDATION_FAILED
              message: "Invalid fields"
              details: []

    InternalError:
      description: 伺服器內部錯誤
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: INTERNAL_SERVER_ERROR
              message: "An unexpected error occurred"
              details: []

    NotFound:
      description: |
        找不到指定的資源。**僅適用於單一筆資料查詢（依 ID 取得單筆資源）**，其餘找不到資源的情境
        （如列表查詢、更新/刪除目標不存在）仍統一回傳 400 + `RESOURCE_NOT_FOUND`。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            success: false
            error:
              code: RESOURCE_NOT_FOUND
              message: "Record not found"
              details: []

# ─── Global Security ──────────────────────────────────────────────────────────
security:
  - BearerAuth: []

# ─── Paths ────────────────────────────────────────────────────────────────────
paths:

  # ════════════════════════════════════════════════════════════════════════════
  # AUTH
  # ════════════════════════════════════════════════════════════════════════════

  /api/v1/auth/access_token:
    post:
      tags:
        - Auth
      summary: 取得 Access Token
      description: |
        使用 `app_id` 與 `app_key` 換取 JWT Bearer Token。
        Token 有效期為 **900 秒（15 分鐘）**，請在到期前呼叫本端點取得新 Token。

        **此端點本身不需要 Bearer Token 認證**。
      operationId: auth_access_token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - app_id
                - app_key
              properties:
                app_id:
                  type: string
                  description: 應用程式 ID
                  example: "{{appId}}"
                app_key:
                  type: string
                  description: 應用程式 API Key（請勿記錄於 log）
                  example: "{{appKey}}"
            example:
              app_id: "abc12345678def01"
              app_key: "sk_live_xxxxxxxxxxxxxxxxxxxxxxxx"
      responses:
        "200":
          description: 成功取得 Token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessTokenResponse"
              example:
                success: true
                access_token: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                token_type: Bearer
                expires_in: 900
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ════════════════════════════════════════════════════════════════════════════
  # PRODUCTS
  # ════════════════════════════════════════════════════════════════════════════

  /api/v1/products:
    get:
      tags:
        - Products
      summary: 取得商品列表
      description: 依分頁取得商品列表。
      operationId: list_products
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: created_at_min
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 建立時間下限（YYYY-MM-DD HH:MM:SS）
        - name: created_at_max
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 建立時間上限（YYYY-MM-DD HH:MM:SS）
        - name: updated_at_min
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 修改時間下限（YYYY-MM-DD HH:MM:SS）
        - name: updated_at_max
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 修改時間上限（YYYY-MM-DD HH:MM:SS）
        - name: published_at_min
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 上架時間下限（YYYY-MM-DD HH:MM:SS）
        - name: published_at_max
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 上架時間上限（YYYY-MM-DD HH:MM:SS）
        - name: ids
          in: query
          schema:
            type: string
            pattern: "^[0-9a-f,]+$"
          description: 依商品 ID 篩選，多筆以逗號分隔（16 位十六進位）
          example: "1a2b3c4d5e6f7890,1a2b3c4d5e6f7891"
        - name: numbers
          in: query
          schema:
            type: string
          description: 依商品編號篩選，多筆以逗號分隔
          example: "SKU-001,SKU-002"
        - name: state
          in: query
          schema:
            type: string
          description: |
            依商品狀態篩選，多筆以逗號分隔，值請參考 `ProductState`
            （`published`/`publish_check`/`gift`/`cancelled`/`discarded`/`preparative`）。
          example: "published"
        - name: category
          in: query
          schema:
            type: string
          description: 依商品分類篩選，可為 Tag ID（16 位十六進位）或 Tag Code
        - name: query
          in: query
          schema:
            type: string
          description: 搜尋關鍵字
        - name: name
          in: query
          schema:
            type: string
          description: 依商品名稱模糊搜尋（LIKE）
        - name: serial_number
          in: query
          schema:
            type: string
          description: 依商品貨號搜尋，可用空白分隔多個貨號做完全比對（單個則為模糊搜尋）
        - name: vendor_number
          in: query
          schema:
            type: string
          description: 依廠商貨號搜尋，可用空白分隔多個做完全比對（單個則為模糊搜尋）
        - name: marketing_label
          in: query
          schema:
            type: string
          description: 依行銷標籤模糊搜尋（LIKE）
        - name: comment
          in: query
          schema:
            type: string
          description: 依後台備註模糊搜尋（LIKE）
        - name: stock_serial_number
          in: query
          schema:
            type: string
          description: 依規格貨號（stocks.serial_number）模糊搜尋
        - name: tag_name
          in: query
          schema:
            type: string
          description: 依分類名稱（tags.name）完全比對篩選
        - name: search_mode
          in: query
          schema:
            type: string
            enum:
              - literal
              - advanced
              - hybrid
              - vector
            default: advanced
          description: 搜尋模式（僅在提供 query 參數時有效）
        - name: search_disabled
          in: query
          schema:
            type: string
            enum:
              - "0"
              - "1"
              - "false"
              - "true"
          description: 依是否停用搜尋篩選
        - name: order
          in: query
          schema:
            type: string
            enum:
              - price_desc
              - price_asc
              - time_desc
              - time_asc
              - published
              - hot
              - sort_asc
              - sort_desc
              - rand
              - rating_desc
              - score
          description: 排序方式
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - id
              - created
              - modified
              - sort
              - max_price
              - min_price
          description: 依欄位排序（與 `direction` 搭配使用，優先於 `order`）
        - name: direction
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
          description: 排序方向（需搭配 `sort` 參數使用）
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      products:
                        type: array
                        items:
                          $ref: "#/components/schemas/ProductDetail"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      tags:
        - Products
      summary: 新增商品
      description: |
        建立新商品。

        必填欄位：`type`、`state`、`quantity_mode`、`name`、`number`。
        缺少任一者、或建立過程發生例外時，回傳 HTTP 400（`error.code` 為 `VALIDATION_FAILED` 或 `BUSINESS_LOGIC_ERROR`），並附上 `error.message`。
      operationId: create_product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product
              properties:
                product:
                  $ref: "#/components/schemas/ProductInput"
            example:
              product:
                type: default
                state: published
                quantity_mode: unlimited
                name: "經典白 T-shirt"
                number: "SKU-001"
                cost: 200
                safety_stock: 10
                lead_time: 2
      responses:
        "200":
          description: 新增成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      product:
                        $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/products/{idOrLink}:
    get:
      tags:
        - Products
      summary: 取得單一商品詳細資訊
      description: |
        `idOrLink` 可為商品 ID（16 位十六進位）或商品的 `url_path`。
        回應為 detail 模式，包含 `additions`、`tags`、`product_items`。
      operationId: get_product
      parameters:
        - name: idOrLink
          in: path
          required: true
          schema:
            type: string
          description: 商品 ID（16 位十六進位）或 url_path
          example: "1a2b3c4d5e6f7890"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      product:
                        $ref: "#/components/schemas/ProductDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/products/{id}:
    put:
      tags:
        - Products
      summary: 更新商品
      description: |
        更新指定商品。只需傳入要更新的欄位，未傳入的欄位不會被修改。
        `id` 必須為 16 位十六進位字串（`[a-f0-9]{16}`）。
      operationId: update_product
      parameters:
        - $ref: "#/components/parameters/ProductIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product
              properties:
                product:
                  $ref: "#/components/schemas/ProductInput"
            example:
              product:
                state: cancelled
                name: "經典白 T-shirt（改款）"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      product:
                        $ref: "#/components/schemas/Product"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags:
        - Products
      summary: 刪除商品
      description: |
        刪除指定商品。`id` 必須為 16 位十六進位字串。
      operationId: delete_product
      parameters:
        - $ref: "#/components/parameters/ProductIdPath"
      responses:
        "200":
          description: 刪除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ════════════════════════════════════════════════════════════════════════════
  # PRODUCTS - TAGS（商品分類，歸類於 Products 資料夾）
  # ════════════════════════════════════════════════════════════════════════════

  /api/v1/tags:
    get:
      tags:
        - Products
      summary: 取得分類列表
      description: 取得商品分類（Tag）列表，不分頁。
      operationId: list_tags
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: 依分類名稱模糊搜尋（LIKE）
        - name: code
          in: query
          schema:
            type: string
          description: 依分類網址代碼完全比對篩選
      responses:
        "200":
          description: 成功取得分類列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      tags:
                        type: array
                        items:
                          $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      tags:
        - Products
      summary: 新增分類
      description: 新增商品分類（Tag）。`name` 為必填，`code` 未提供時預設等於 `name`，同租戶內 `code` 須唯一。
      operationId: create_tag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tag
              properties:
                tag:
                  $ref: "#/components/schemas/TagInput"
            example:
              tag:
                name: "上衣"
      responses:
        "200":
          description: 新增成功或失敗（本 API 一律回傳 HTTP 200，請以 `success` 判斷結果）
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      data:
                        type: object
                        properties:
                          tag:
                            $ref: "#/components/schemas/Tag"
                  - type: object
                    properties:
                      status:
                        type: boolean
                        example: false
                      errorMessage:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/tags/{id}:
    get:
      tags:
        - Products
      summary: 取得單一分類
      description: 依 ID 取得單一商品分類。
      operationId: get_tag
      parameters:
        - $ref: "#/components/parameters/TagIdPath"
      responses:
        "200":
          description: 成功取得分類
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      tag:
                        $ref: "#/components/schemas/Tag"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      tags:
        - Products
      summary: 更新分類
      description: |
        更新指定分類。只需傳入要更新的欄位，未傳入的欄位不會被修改。
        `id` 必須為 16 位十六進位字串（`[a-f0-9]{16}`）。
      operationId: update_tag
      parameters:
        - $ref: "#/components/parameters/TagIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tag
              properties:
                tag:
                  $ref: "#/components/schemas/TagInput"
            example:
              tag:
                name: "上衣（改名）"
      responses:
        "200":
          description: 更新成功或失敗（本 API 一律回傳 HTTP 200，請以 `success` 判斷結果）
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      data:
                        type: object
                        properties:
                          tag:
                            $ref: "#/components/schemas/Tag"
                  - type: object
                    properties:
                      status:
                        type: boolean
                        example: false
                      errorMessage:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags:
        - Products
      summary: 刪除分類
      description: 刪除指定分類。`id` 必須為 16 位十六進位字串。
      operationId: delete_tag
      parameters:
        - $ref: "#/components/parameters/TagIdPath"
      responses:
        "200":
          description: 刪除成功或失敗（本 API 一律回傳 HTTP 200，請以 `success` 判斷結果）
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                  - type: object
                    properties:
                      status:
                        type: boolean
                        example: false
                      errorMessage:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ════════════════════════════════════════════════════════════════════════════
  # PRODUCTS - PRODUCT TEMPLATES（商品內文範本，歸類於 Products 資料夾）
  # ════════════════════════════════════════════════════════════════════════════

  /api/v1/product_templates:
    get:
      tags:
        - Products
      summary: 取得商品內文範本列表
      description: |
        取得商品內文範本（Product Template）列表，不分頁。
        範本可依 `tag_id` 綁定特定商品分類，未綁定分類的範本（`tag_id` 為 `null`）套用於所有商品。
      operationId: list_product_templates
      parameters:
        - name: tag_ids
          in: query
          schema:
            type: string
            pattern: "^[a-f0-9,]*$"
          description: |
            依商品分類 ID 篩選，多筆以逗號分隔。
            回傳結果為「未綁定分類（`tag_id` 為 `null`）」與「綁定於指定分類」的範本聯集；
            若未提供此參數，僅回傳未綁定分類的範本。
          example: "1a2b3c4d5e6f7890,2b3c4d5e6f789012"
      responses:
        "200":
          description: 成功取得商品內文範本列表
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      product_templates:
                        type: array
                        items:
                          $ref: "#/components/schemas/ProductTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      tags:
        - Products
      summary: 新增商品內文範本
      description: 新增商品內文範本（Product Template）。
      operationId: create_product_template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_template
              properties:
                product_template:
                  $ref: "#/components/schemas/ProductTemplateInput"
            example:
              product_template:
                tag_id: null
                sort: 101
                title: "共用說明標題"
                content: "共用說明內容"
      responses:
        "200":
          description: 新增成功或失敗（本 API 一律回傳 HTTP 200，請以 `success` 判斷結果）
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      data:
                        type: object
                        properties:
                          product_template:
                            $ref: "#/components/schemas/ProductTemplate"
                  - type: object
                    properties:
                      status:
                        type: boolean
                        example: false
                      errorMessage:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/product_templates/{id}:
    get:
      tags:
        - Products
      summary: 取得單一商品內文範本
      description: 依 ID 取得單一商品內文範本。
      operationId: get_product_template
      parameters:
        - $ref: "#/components/parameters/ProductTemplateIdPath"
      responses:
        "200":
          description: 成功取得商品內文範本
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      product_template:
                        $ref: "#/components/schemas/ProductTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      tags:
        - Products
      summary: 更新商品內文範本
      description: |
        更新指定商品內文範本。只需傳入要更新的欄位，未傳入的欄位不會被修改。
        `id` 必須為 16 位十六進位字串（`[a-f0-9]{16}`）。
      operationId: update_product_template
      parameters:
        - $ref: "#/components/parameters/ProductTemplateIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - product_template
              properties:
                product_template:
                  $ref: "#/components/schemas/ProductTemplateInput"
            example:
              product_template:
                title: "共用說明標題（修改）"
      responses:
        "200":
          description: 更新成功或失敗（本 API 一律回傳 HTTP 200，請以 `success` 判斷結果）
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      data:
                        type: object
                        properties:
                          product_template:
                            $ref: "#/components/schemas/ProductTemplate"
                  - type: object
                    properties:
                      status:
                        type: boolean
                        example: false
                      errorMessage:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags:
        - Products
      summary: 刪除商品內文範本
      description: 刪除指定商品內文範本。`id` 必須為 16 位十六進位字串。
      operationId: delete_product_template
      parameters:
        - $ref: "#/components/parameters/ProductTemplateIdPath"
      responses:
        "200":
          description: 刪除成功或失敗（本 API 一律回傳 HTTP 200，請以 `success` 判斷結果）
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                  - type: object
                    properties:
                      status:
                        type: boolean
                        example: false
                      errorMessage:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ════════════════════════════════════════════════════════════════════════════
  # ORDERS
  # ════════════════════════════════════════════════════════════════════════════

  /api/v1/orders:
    get:
      tags:
        - Orders
      summary: 取得訂單列表
      description: 依分頁與篩選條件取得訂單列表。
      operationId: list_orders
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: created_at_min
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 建立時間下限（YYYY-MM-DD HH:MM:SS）
        - name: created_at_max
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 建立時間上限（YYYY-MM-DD HH:MM:SS）
        - name: updated_at_min
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 修改時間下限（YYYY-MM-DD HH:MM:SS）
        - name: updated_at_max
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 修改時間上限（YYYY-MM-DD HH:MM:SS）
        - name: paid_at_min
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 付款時間下限（YYYY-MM-DD HH:MM:SS）
        - name: paid_at_max
          in: query
          schema:
            type: string
            pattern: '^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]) ([01]\d|2[0-3]):[0-5]\d:[0-5]\d$'
          description: 付款時間上限（YYYY-MM-DD HH:MM:SS）
        - name: ids
          in: query
          schema:
            type: string
            pattern: "^[0-9a-f,]+$"
          description: 依訂單 ID 篩選，多筆以逗號分隔（24 位十六進位）
          example: "5f4dcc3b5aa765d61d8327de,5f4dcc3b5aa765d61d8327df"
        - name: numbers
          in: query
          schema:
            type: string
          description: 依訂單編號篩選，多筆以逗號分隔
          example: "ORD-20260823-0001,ORD-20260823-0002"
        - name: state
          in: query
          schema:
            type: string
            enum:
              - un_pay
              - cod
              - pay
              - failure
              - cancel
          description: |
            依訂單狀態篩選，多筆以逗號分隔。
            `un_pay`（未付款）、`cod`（貨到付款）、`pay`（已付款）、`failure`（付款失敗）、`cancel`（已取消）。
          example: "pay,cod"
        - name: buyer_name
          in: query
          schema:
            type: string
          description: 依購買人姓名篩選
        - name: buyer_email
          in: query
          schema:
            type: string
            format: email
          description: 依購買人電子郵箱篩選
        - name: buyer_mobile
          in: query
          schema:
            type: string
          description: 依購買人手機篩選
        - name: keyword
          in: query
          schema:
            type: string
          description: 搜尋關鍵字，需搭配 `search` 指定搜尋欄位
        - name: search
          in: query
          schema:
            type: string
            enum:
              - serial_number
              - product.serial_number
              - product.name
              - coupon_code
              - referrer_code
              - buyer_email
              - name
              - mobile
              - comment
              - delivery_name
          description: |
            搭配 `keyword` 使用，指定搜尋的欄位/範圍。
            `serial_number`（訂單編號）、`product.serial_number`（商品貨號）、`product.name`（商品名稱）、
            `coupon_code`（活動代碼）、`referrer_code`（分銷代碼）、`buyer_email`（購買人 email）、
            `name`（購買人或收件人姓名）、`mobile`（購買人或收件人手機）、`comment`（備註）、`delivery_name`（配送方式/門市名稱）。
          example: "product.name"
        - name: receive_date_min
          in: query
          schema:
            type: string
            format: date
          description: 到貨日期下限（YYYY-MM-DD）
        - name: receive_date_max
          in: query
          schema:
            type: string
            format: date
          description: 到貨日期上限（YYYY-MM-DD）
        - name: invoice_date_min
          in: query
          schema:
            type: string
            format: date
          description: 發票日期下限（YYYY-MM-DD）
        - name: invoice_date_max
          in: query
          schema:
            type: string
            format: date
          description: 發票日期上限（YYYY-MM-DD）
        - name: model
          in: query
          schema:
            type: string
            enum:
              - PayableOrders
              - DeliverableOrders
              - InvoiceableOrders
          description: |
            依訂單清單類型套用預設篩選條件。
            `PayableOrders`（待付款：未付款/貨到付款訂單）、
            `DeliverableOrders`（待出貨：已付款/貨到付款且尚未出貨、且商品已備貨或已採購的訂單）、
            `InvoiceableOrders`（待開發票：台幣、已付款/貨到付款、且發票類型為二聯或三聯的訂單）。
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      orders:
                        type: array
                        items:
                          $ref: "#/components/schemas/Order"
                      pagination:
                        $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      tags:
        - Orders
      summary: 新增訂單
      description: |
        直接建立訂單（管理員 / 後台用途）。
      operationId: create_order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order
              properties:
                order:
                  $ref: "#/components/schemas/OrderCreateInput"
      responses:
        "200":
          description: 建立成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      order:
                        $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/orders/{idOrNumber}:
    get:
      tags:
        - Orders
      summary: 取得單一訂單詳細資訊
      description: |
        `idOrNumber` 可為訂單 ID（24 位十六進位）或訂單編號（如 `ORD-20260823-0001`）。
        回應包含商品圖片資訊。
      operationId: get_order
      parameters:
        - name: idOrNumber
          in: path
          required: true
          schema:
            type: string
          description: 訂單 ID 或訂單編號
          example: "5f4dcc3b5aa765d61d8327de"
      responses:
        "200":
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      order:
                        $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/orders/{id}:
    put:
      tags:
        - Orders
      summary: 更新訂單
      description: 更新訂單資訊（如收件人、物流、備註等）。未傳入之欄位保留原值，未傳入 line_items 時保留既有品項。
      operationId: update_order
      parameters:
        - $ref: "#/components/parameters/OrderIdPath"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order
              properties:
                order:
                  $ref: "#/components/schemas/OrderUpdateInput"
      responses:
        "200":
          description: 更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      order:
                        $ref: "#/components/schemas/Order"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      tags:
        - Orders
      summary: 刪除訂單
      description: 永久刪除訂單（不可恢復）。一般業務建議使用「取消」操作代替。
      operationId: delete_order
      parameters:
        - $ref: "#/components/parameters/OrderIdPath"
      responses:
        "200":
          description: 刪除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/orders/pay:
    post:
      tags:
        - Orders
      summary: 批次標記付款成功
      description: 一次呼叫，將多筆訂單依 id 標記為付款成功，取代逐筆呼叫。
      operationId: pay_orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order_ids
              properties:
                order_ids:
                  type: array
                  items:
                    type: string
                  description: 訂單 id 清單
                  example: ["651f1c2e9a1b2c3d4e5f6789", "651f1c2e9a1b2c3d4e5f678a"]
                paid:
                  type: string
                  description: 付款時間，未提供則使用當下時間
                  example: "2026-08-23 12:00:00"
      responses:
        "200":
          description: 處理完成（個別訂單失敗不影響整體回應，詳見 failed）
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  failed:
                    type: array
                    description: 標記失敗的訂單清單
                    items:
                      type: object
                      properties:
                        order_id:
                          type: string
                        errorMessage:
                          type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/orders/{id}/cancel:
    post:
      tags:
        - Orders
      summary: 取消訂單
      description: 將訂單狀態設為已取消，可選填取消原因。
      operationId: cancel_order
      parameters:
        - $ref: "#/components/parameters/OrderIdPath"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: 取消原因（選填）
                  example: "客戶要求取消"
      responses:
        "200":
          description: 取消成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: 訂單狀態不允許取消
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  #  /api/v1/orders/{id}/issue_invoice:
  #    post:
  #      tags:
  #        - Orders
  #      summary: 開立電子發票
  #      description: |
  #        針對指定訂單開立電子發票，需訂閱方案支援（Standard 以上或 Trial 方案）。
  #        若發票已存在，則同步現有發票資訊。
  #      operationId: issue_invoice
  #      parameters:
  #        - $ref: "#/components/parameters/OrderIdPath"
  #      requestBody:
  #        content:
  #          application/json:
  #            schema:
  #              type: object
  #              properties:
  #                delay_day:
  #                  type: integer
  #                  minimum: 0
  #                  default: 0
  #                  description: 延遲開立天數
  #      responses:
  #        "200":
  #          description: 開立成功
  #          content:
  #            application/json:
  #              schema:
  #                type: object
  #                properties:
  #                  status:
  #                    type: boolean
  #                    example: true
  #                  invoice:
  #                    type: object
  #                    properties:
  #                      invoice_number:
  #                        type: string
  #                        example: "AA-12345678"
  #                      invoice_date:
  #                        type: string
  #                        format: date
  #                        example: "2026-08-23"
  #        "400":
  #          $ref: "#/components/responses/BadRequest"
  #        "401":
  #          $ref: "#/components/responses/Unauthorized"
  #        "500":
  #          $ref: "#/components/responses/InternalError"
  #
  #  /api/v1/orders/{id}/create_delivery:
  #    post:
  #      tags:
  #        - Orders
  #      summary: 建立出貨單
  #      description: 為指定訂單建立物流出貨記錄，支援多種物流供應商。
  #      operationId: create_delivery
  #      parameters:
  #        - $ref: "#/components/parameters/OrderIdPath"
  #      requestBody:
  #        required: true
  #        content:
  #          application/json:
  #            schema:
  #              type: object
  #              required:
  #                - delivery
  #              properties:
  #                delivery:
  #                  $ref: "#/components/schemas/DeliveryInput"
  #                more_params:
  #                  type: object
  #                  description: 物流供應商額外參數
  #      responses:
  #        "200":
  #          description: 建立成功
  #          content:
  #            application/json:
  #              schema:
  #                type: object
  #                properties:
[...]
